declare -A servers
servers=(
    [dev]="aws-damutildev-tts aws-damappdev-tts"
    [devapp]="aws-damappdev-tts"
    [devutil]="aws-damutildev-tts"
    [test]="aws-damutiltst-dm aws-damapptst1-dm aws-damapptst2-dm"
    [testapp1]="aws-damapptst1-dm"
    [testapp2]="aws-damapptst2-dm"
    [testapp]="aws-damapptst1-dm aws-damapptst2-dm"
    [testutil]="aws-damutiltst-dm"
    [prod]="aws-damutil1-dm aws-damutil2-dm aws-damapp1-dm aws-damapp2-dm"
    [prodapp]="aws-damapp1-dm aws-damapp2-dm"
    [prodapp1]="aws-damapp1-dm"
    [prodapp2]="aws-damapp2-dm"
    [produtil]="aws-damutil1-dm aws-damutil2-dm"
    [produtil1]="aws-damutil1-dm"
    [produtil2]="aws-damutil2-dm"
)

