[polling]
LOGFILE=/usr/local/nga/var/log/cron.log
LOGFILE=/usr/local/nga/var/log/ngacronjobs.log
LOGFILE=/opt/netx/logs/amazonS3.log
LOGFILE=/opt/netx/logs/exogen.log
LOGFILE=/opt/netx/logs/solr.log
LOGFILE=/opt/netx/logs/vantage.log
LOGFILE=/opt/netx/logs/catalina.log
IGNORE=checkStaleFailsafes
IGNORE=LocationFacade.*getBasePath URI scheme is null
IGNORE=ConnectionPool.*clearIdle.*Block pool for maintenance
IGNORE=HydraNodeDB.*verifyNode
IGNORE=HealthStatusManager.*checkForErrorLogs.*Error logs
IGNORE=DirectoryManager.*copyFile

[notification]
EMAILLIST=rhel_logmon@nga.gov
INTERVAL=600
