[polling]
LOGFILE=/usr/local/nga/var/log/cron.log
LOGFILE=/usr/local/nga/var/log/ngacronjobs.log
LOGFILE=/opt/netx/logs/amazonS3.log
LOGFILE=/opt/netx/logs/exogen.log
LOGFILE=/opt/netx/logs/solr.log
LOGFILE=/opt/netx/logs/vantage.log
LOGFILE=/opt/netx/logs/catalina.log

IGNORE=AssetFilesForDownload.*getFilesByDownloadOptions.*TOO MANY BYTES
IGNORE=AssetFilesForDownload.*warnForBadAssets.*bad asset
IGNORE=AssetIndexManager.*fireIndexing.*Null image
IGNORE=AssetPathManager.*createViewPreviewFile.*No index file
IGNORE=AssetPathManager.*getRepositoryFile.*Ignoring dead file
IGNORE=AssetPathManager.*setImageData.*Found null image object
IGNORE=AttributeOrderbyJob.*execute.*idOrder is null
IGNORE=AuthenticatedSessionManager.*getKeyForUser.*No key for user
IGNORE=AuthenticatedSessionManager.*setSession.*Null session for userId
IGNORE=AutoTaskAutoEnabler.*addCustomJob.*Asset Request import notifications is auto-configured
IGNORE=AutoTaskAutoEnabler.*addCustomJob.*Duplicate Asset file detection is auto-configured
IGNORE=AutoTaskAutoEnabler.*checkExpiration.*Hydra is enabled
IGNORE=AutoTaskManager.*processQueue.*No autotask job class for task
IGNORE=BatchDownloadAssetSetsCommand.*execute Asset sources produced no results; throw exception!
IGNORE=BooleanLookupCache.*put.*Invalid cache time 1000ms
IGNORE=Cannot insert explicit value for identity column in table 'exogen_stat_entry' when IDENTITY_INSERT is set to OFF
IGNORE=CategoryFacade.*getAllChildCategories.*Not cached 
IGNORE=CategoryFacade.*update.*Move
IGNORE=checkStaleFailsafes
IGNORE=CmisRepositoryContextListener.*createServiceFactory.*Configuration doesn't contain the property 'class'!
IGNORE=ConnectionManager.*loadDrivers.*Can't register JDBC driver
IGNORE=ConnectionPool.*clearIdle.*Block pool for maintenance
IGNORE=ContactSheetBuilderJob.*execute.*Output file already exists
IGNORE=CustomSQLReportJob.*SQLServerException.*GetDailyReportData
IGNORE=DataDirectoryImportJob.*update.*Data import directory doesn't exist
IGNORE=DirectoryManager.*copyFile
IGNORE=DirectoryManager.*deleteFile.*Can't delete file
IGNORE=DirectoryManager.*deleteFile.*Deleted after delay
IGNORE=DirectoryReaperJob.*execute.*target_directory doesn't exist
IGNORE=FileManager.*enforceUniqueFile.*Exists
IGNORE=FileProxyServlet.*doPost.*Exception
IGNORE=FileProxyServlet.*doPost.*file does not exist
IGNORE=GetDownloadCheckBeanCommand.*execute.*assetIds is empty
IGNORE=GetDownloadCheckBeanCommand.*execute.*Large collections of assets 
IGNORE=GlacierInterface.*init.*Bad accessKey
IGNORE=GlacierInterface.*init.*Bad secretKey
IGNORE=GlacierInterface.*init.*Bad vault name
IGNORE=HealthStatusManager.*checkForErrorLogs.*Error logs
IGNORE=HealthStatusManager.*checkLostAssets.*Lost assets
IGNORE=HydraMessageDB.*deleteStale.*Stale
IGNORE=HydraNodeDB.*verifyNode
IGNORE=IdSequence.*getNextInSequence.*deadlocked
IGNORE=ImageFacade.*getImage.*Ignoring missing asset
IGNORE=Image.*Invalid category
IGNORE=ImageModDateManager.*unlock.*Ignoring premature unlock imageId
IGNORE=ImageModDateManager.*unlock.*Unlocked imageId
IGNORE=ImageModDateManager.*waitForLock.*Locked
IGNORE=ImportStatusManager.*startImport.*Could not insert image status for asset Id 
IGNORE=InDesignServerConnect.*pingIDSServer.*Error pinging InDesignServer
IGNORE=InDesignServerFacade.*testInDesignTemplates.*Failed uploading InDesign template file
IGNORE=InitializeKrakenJob.*execute.*invalid mediaService
IGNORE=IPManager.*getAssetBean.*Null
IGNORE=IPService.*updateAttributes.*Unknown attribute template name 
IGNORE=JsonRequestParser.*processParams.*GSON had a problem deserializing
IGNORE=LocaleManager.*getLanguageFromLocaleString.*Unknown language
IGNORE=LocaleManager.*getResourceByLanguage.*Unknown namespace
IGNORE=LocationFacade.*getBasePath.*URI scheme is null
IGNORE=LocationFacade.*setFileUploadLocationList.*No available locations
IGNORE=LocationFacade.*setOnlineLocationList.*No available Online locations
IGNORE=LoginDeviceManager.*registerLoginDevice
IGNORE=MD5Manager.*getHash.*UnsatisfiedLinkError
IGNORE=MediaRichProxyServlet.*streamResponse.*Failed to write to
IGNORE=OpenOfficeFacade.*Exception
IGNORE=PDFBoxContactSheetBuilder.*setHeaderTitle.*Reset long title
IGNORE=PMIWProcessFacade.*load.*Unsupported format
IGNORE=ProcessSamlResponse.*process.*Done
IGNORE=ProcessSamlResponse.*process.*samlp
IGNORE=ProcessSamlResponse.*process.*Status code did not return 
IGNORE=ProgressManager.*setProgressMessage.*Download is too large
IGNORE=PropertyMessageResources.*loadLocale.*Error thrown loading locale resource map
IGNORE=RPCServlet.*invoke.*CommandException
IGNORE=RPCServlet.*processPayload.*failed
IGNORE=RunTimeExec.*launchBinary.*Output
IGNORE=SamlServlet.*doPost.*SamlException
IGNORE=Service doExecuteCommand.*No data
IGNORE=SessionPersistenceDB.*getSession.*NullPointerException
IGNORE=SessionStore.*getReverse.*Null date for id
IGNORE=SessionStore.*getReverse.*Stale sessionKey for id
IGNORE=SessionStore.*get.*Stale key
IGNORE=ShowPad2ConfigLoader.*loadShowPadConfig.*ShowPad module is disabled
IGNORE=ShowPad2Manager.*No ShowPad server configuration found
IGNORE=StatQueryManager.*archiveStats.*Something went awry
IGNORE=UserFileManager.*removeFile.*userId.*is not known
IGNORE=WebdavServlet.*init.*The default location does not exist
IGNORE=ZoomTask.*isValid.*Measurements of file can't be ascertained 
IGNORE=ZoomTileTask.*isValid.*Measurements of file can't be ascertained


[notification]
EMAILLIST=rhel_logmon@nga.gov
INTERVAL=600
